{% extends 'base.html' %}

{% block body %}
    
    <!-- page title-->
    <h1>
        {{ request.resolver_match.url_name | title }}
    </h1>

    
    <!-- display logout button -->
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method='POST'>
            {% csrf_token %}
            <input type='submit' value='logout'>
        </form>
    
    <!-- display login/ signup button -->
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        Or, &nbsp;
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    
    <!-- search functionality -->
    <form method="GET" action="{% url 'home' %}">
        <br>
        {% csrf_token %}
        <input type="text" name="searchFilter" placeholder="Search videos">
        <input type="submit" value="Search">
        <a href="{% url 'home' %}">Reset search filter</a>
    </form>


    <hr>

    <!-- display list of videos -->
    {% for video in videos %}
        <div style="display: flex; align-items: start;">
            <img src="{{ video.thumbnail }}" alt="{{ video.title | title }}" style="width: 200px; height: auto; margin-right: 10px;">
            <div>
                <h2>
                    <a href="{% url 'video_streaming:stream' video.slug %}">
                        {{ video.title | title }}
                    </a>
                </h2>
                <h3>
                    {{ video.get_category_display | title }}
                </h3>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}